/* Reset this is to remove default browser styles,attempting to make it mobile first */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial,sans-serif;
  line-height:1.6;
  color: #333;
}
/*Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #2c3e50;
  color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo img{
  height: 70px;
  width: auto;
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Hero section styles */
#home {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn{
  display: inline-block;
  padding: 0.8rem 2rem;
  background: #ffd700;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: bold;
}
/* Sections styles */
section{
  padding: 4rem 5%;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
/* Events card styles */
.event-card {
  background: #f4f4f4;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}

/*Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.gallery-grid img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
}